

.navbar {
    height: 70px;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    margin-bottom: 0;
    background-color: #90A4AE !important;
    border-bottom: 0px;
}

.navbar-brand, .navbar-nav {
    margin-top: 5px;
    font-size: 22px;
}

.main-content {
    margin-top: 60px;
}

.navbar-nav > li > a > span {
    color: #fff;
    font-weight: 100;
    font-size: 20px;
    line-height: 20px;
}

#delta-brand {
    color: #f5f5f5;
    line-height: 30px;
    font-family: serif;
    font-weight: bold;
    font-size: 26px;
}

.container-rtl {
    direction: rtl;
}



/*Colors Helpers*/
.title-primary {
    color: #555;
}
