

.navbar {
    height: 70px;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    margin-bottom: 0;
}

.navbar-brand, .navbar-nav {
    margin-top: 5px;
    font-size: 22px;
}

.main-content {
    margin-top: 60px;
}

#delta-brand-color {
    color: #555;
}

.navbar-nav > li > a > span {
    color: #ef6c00;
}

.container-rtl {
    direction: rtl;
}



/*Colors Helpers*/
.title-primary {
    color: #555;
}
