.document-date-val {
    direction: ltr !important;
}

.document-date-seperator {
    padding-right: 2px;
}

.document-date-title {
    font-weight: bold;
}


.document-btn-info {
    color: #fff;
    background-color: #1565C0;
}
.document-btn-info:hover {
    background-color: #1565C0;
}

.document-btn-order {
    border-color: #ff5a5f;
    background-color: #e8e8e8;
}

.document-btn-order:hover {
    border-color: #ff5a5f;
    background-color: #BDBDBD;
}


.document-content-container, .document-content-container > img {
    width: 100%;
    height: 100%;
}


