.not-implemented-frame {
    padding: 5%;
    background-color: #eee;
}

.not-implemented-frame > div > div {
    margin-top: 4%;
}

.not-implemented-frame > div > div::first-child {
    margin-top: 0;
}

.not-implemented-frame-title > h3 {
    font-weight: bold;
}

.not-implemented-frame-body {
    font-size: 18px;
}

.not-implemented-frame-footer{
    padding-right: 0;
    padding-left: 0;
    font-size: 18px;
}

.not-implemented-frame-footer > div {
    padding-right: 0;
    padding-left: 5px;
}

.not-implemented-frame-footer-text {
    line-height: 45px;
    font-weight: bold;
}