
#homeImage {
    height: 600px !important;
    width: 100% !important;
    -webkit-filter: brightness(80%);
    filter: brightness(80%);
}

.home-headline {
    position: absolute;
    top: 220px;
    width: 100%;
    padding-right: 15%;
    padding-left: 15%;
}

.home-headline-header {
    text-shadow: 2px 2px #424242;
    margin-bottom: 100px;
    font-size: 55px;
    color: white;
    opacity: 0.9;
}

.home-region-form {
    height: 50px;
    font-size: 18px;
    opacity: 0.9;
}

.home-information-panel , .home-sales-panel {
    padding-top: 45px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 30px;
    min-height: 250px;
    border-bottom: 1px solid #ccc;
    background-color: #f5f5f5 !important;
}

.home-btn-sales {
    margin-top: 20px;
    color: #fff;
    background-color: #424242;
}

.home-btn-sales:hover {
    background-color: #424242;
}

.home-sales-panel h2 , .home-information-panel h2, .home-regions-panel h2 {
    font-weight: bold !important;
    margin-bottom: 15px;
}

.home-sales-panel p {
    font-size: 18px;
}

.home-information-panel-sections {
    padding-top: 30px;
    font-size: 20px;
}

.panel-section-icon-container {
    padding: 30px;
}

.home-btn-information {
    background-color: #F44336;
    border-color: #ccc;
    margin: auto;
    margin-top: 40px;
    color: white;
}

.home-btn-information:hover {
    color: #777;
    border-color: #F44336;
}

.home-regions-panel {
    padding-top: 30px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 30px;
    min-height: 250px;
    border-bottom: 1px solid #ccc;
}

.home-regions-panel .thumbnail {
    cursor: pointer;
}

.home-regions-panel > h2 {
    margin-bottom: 35px;
}

.home-region-suggestion {
    font-size: 18px;
    width: 100%;
    height: 50px;
    background-color: #fff;
    opacity: 0.9; 
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    direction: rtl;
}

.home-region-suggestion:hover {
    background-color: #ccc;
}
