.search-layout {
    position: relative;
}

.search-filter {
    height: 70px;
    padding-right: 5%;
    padding-left: 5%;
    background-color: #424242 !important;
}


.search-input-container {
    background-color: #616161;
    margin-top: 15px;
    border-radius: 4px;
    color: #fff;
}

.search-input > input {
    width: 100%;
    background-color: #616161;
    border: 0;
    height: 40px;
    font-size: 16px;
}

.search-input > input:focus {
     outline: none;
}

.search-input-icon {
    padding-top: 8px;
}

.search-view {
    height: calc(100vh - 140px);
    background-color: #fff;
    padding-right: 10px;
    padding-left: 10px;
}
 
.search-tab-filters {
    padding-top: 30px;
    padding-left: 30px;
}

.tab-filter  {
    font-size: 16px;
    color: #eee;
    cursor: pointer;
}

.tab-filter:hover  {
    color: #fff;
    text-decoration: none;
}

.tab-filter   .caret {
    margin-right: 8px;
}

.search-map-container {
   height: 100%;
   padding-left: 0;
}

.search-map {
    width: 100%;
    height: 100%;
}


/*Filters views section*/
.active-filter-container {
    position: absolute;
    z-index: 1000;
    width: 100%;
    left: 0;
    margin-left: 0;
}

.proprty-type-filter, .rooms-filter, .price-filter, .floors-filter, .advanced-filter {
    font-size: 16px;
    background-color: #f5f5f5 !important;
    color: #616161 !important;
    border: 1px solid #E0E0E0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 5px 5px rgba(0,0,0,.2);
}

.proprty-type-filter {
    padding-right: 15px;
}

.rooms-filter {
    padding-right: 30px;
}

.rooms-filter input {
    margin-right: 4px;
}

.search-filter-checkbox-container {
    margin-top: 5px;
    margin-bottom: 5px;
}

.advanced-filter  {
    padding-right: 30px;
    padding-bottom: 45px;
}

.price-filter-label, .floors-filter-label {
    line-height: 30px;
    font-weight: bold;
}

.price-filter input {
    width: 100%;
}

.floors-filter {
    margin-left: 7%;
}

.advanced-filter-section {
    border-bottom: 1px solid #eee;
    padding-top: 10px;
    padding-bottom: 10px;
}

.advanced-filter-section:last-child {
    border: 0;
}

.advanced-filter-section-title h3 {
    font-weight: bold;
}

.advanced-filters-container > div {
    padding-right: 0;
    margin-top: 7px;
}

/*Search apartment container*/
.search-properties-container {
    height: 100%;
    overflow-y: auto;
    padding-right: 0;
}

.search-properties-container > .delta-nav {
    padding-right: 0;
}

.search-properties-container  .delta-nav-item {
    font-size: 18px;
}

.search-property-container, .search-property > div  {
    padding-right: 2px;
}

.search-property-container .thumbnail {
    background-color: #eee; 
}

.search-property-container .thumbnail img {
    height: 160px;
    width: 100%;
}


.search-proprty-btn {
    color: #fff;
    background-color: #424242;
    padding-left: 15px;
    padding-right: 15px;
}

.search-proprty-btn:hover, .search-property-info-window > .details-container > .action-container > .action-btn:hover {
    background-color: #424242;
    color: #fff;
}

.property-price { 
   font-size: 16px;
   color:  #616161;
   font-weight: bold;
}

.search-property .extra-info {
    font-weight: bold;
    color: #757575;
}

.search-property .extra-info > div:last-child {
    padding-left: 0;
}

.search-property .extra-info > div:first-child {
    padding-right: 4%;
}

.search-property-info-window {
    width: 320px;
}

.search-property-info-window > .image-container  img {
    width: 100%;
    height: 120px;
    cursor: pointer;
}

.search-property-info-window > .details-container {
    padding-right: 30px;
}

.search-property-info-window > .details-container > div {
    margin-bottom: 4px;
}

.search-property-info-window > .details-container > div:last-child {
    margin-bottom: 0;
}

.search-property-info-window > .details-container > .address-container {
    font-size: 18px;
    font-weight: bold;   
}

.search-property-info-window > .details-container > .price-container {
    font-size: 16px;
    font-weight: bold;
    color: #616161;
}

.search-property-info-window > .details-container > .action-container {
    margin-top: 13px;
}

.search-property-info-window > .details-container > .action-container > .action-btn {
    
    color: #fff;
    background-color: #424242;
    padding-left: 15px;
    padding-right: 15px;
}

.search-property-info-window > .details-container > .action-container > .action-btn:hover {
    background-color: #424242;
    color: #fff;
}

.search-property-info-window > .details-container > .extra-info {
    font-size: 12px;
    font-weight: bold;
    color: #757575;
}

.search-property-info-window > .details-container > .extra-info > div:last-child {
    border-left: 1px solid #757575;;
    padding-right: 0;
    padding-left: 0;
    width: 40%;
}

.search-property-info-window > .details-container > .extra-info > div:first-child {
    padding-left: 0;
    padding-right: 5%;
    margin-left: 10%;
} 

.search-property-info-window > .details-container > .extra-info > div > p {
    margin: 0;
}