.search-filter {
    height: 70px;
    border-bottom: 1px solid #eee;
    padding-right: 5%;
    padding-left: 5%;
    background-color: #424242 !important;
}


.search-input-container {
    background-color: #616161;
    margin-top: 15px;
    border-radius: 4px;
    color: #fff;
}

.search-input > input {
    width: 100%;
    background-color: #616161;
    border: 0;
    height: 40px;
    font-size: 16px;
}

.search-input > input:focus {
     outline: none;
}

.search-input-icon {
    padding-top: 8px;
}

.search-view {
    height: calc(100vh - 140px);
    background-color: #fff;
    padding-right: 10px;
    padding-left: 10px;
}
 
.search-tab-filters {
    padding-top: 30px;
    padding-left: 30px;
}

.tab-filter  {
    font-size: 16px;
    color: #eee;
}

.tab-filter:hover  {
    color: #fff;
    text-decoration: none;
}

.tab-filter  > .caret {
    margin-right: 2px;
}

.search-map-container {
   height: 100%;
}

.search-map {
    width: 100%;
    height: 100%;
}
