.sidebar-container {
    padding-left: 0;
}

.sidebar {
    padding-top: 15px;
    padding-bottom: 50px;
    font-size: 18px;
    border-width: 0;
    border-left: 1px solid #ccc;
}

.sidebar > ul > li {
    padding-bottom: 15px;
}
.sidebar-section-title {
    font-weight: bold;
    color: #555;
    font-size: 20px;
}

.sidebar-section-links {
    list-style: none;
    font-size: 16px;
    padding-top: 3px;
    padding-right: 10px;
}

.sidebar-section-link > a {
    color: #777;
}

.sidebar-section-link > a:hover,  .sidebar-section-link > a:active{
    font-weight: bold;
    color: #777;
    text-decoration: none; 
}